@model EventVM
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
    <div class="bg-white rounded-lg shadow-md p-4 cursor-pointer hover:shadow-lg">
        <h3 class="text-lg font-bold">@Localizer["Event Statistics"]</h3>
        <ul class="mt-4">
            <li>
                @Localizer["Total Events"]:
                <span id="total-events"></span>
            </li>
        </ul>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4 cursor-pointer hover:shadow-lg">
        <h3 class="text-lg font-bold">@Localizer["User Statistics"]</h3>
        <ul class="mt-4">
            <li>@Localizer["Total Bookings"]</li>
        </ul>
    </div>
</div>
<div class="max-w-md mt-6 mx-auto p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-center mb-4">@Localizer["Details"] @Model.Name @Localizer["Events"]</h2>

    <!-- Event Name -->
    <div>
        <label for="event-name" class="block text-gray-700 font-bold mb-2">@Localizer["Event Name in English :"]</label>
        <input type="text"
               asp-for="Name"
               id="event-name"
               class="appearance-none block w-full bg-gray-200 border border-gray-200 rounded-lg px-3 py-2 text-gray-600 focus:outline-none"
               readonly />
    </div>
    <div>
        <label for="event-name-ar" class="block text-gray-700 font-bold mb-2">@Localizer["Event Name in Arabic :"]</label>
        <input type="text"
               asp-for="NameAr"
               id="event-name-ar"
               class="appearance-none block w-full bg-gray-200 border border-gray-200 rounded-lg px-3 py-2 text-gray-600 focus:outline-none"
               readonly />
    </div>

    <!-- Event Place -->
    <div>
        <label for="event-place" class="block text-gray-700 font-bold mb-2">@Localizer["Event Place in English :"]</label>
        <input type="text"
               asp-for="place"
               id="event-place"
               class="appearance-none block w-full bg-gray-200 border border-gray-200 rounded-lg px-3 py-2 text-gray-600 focus:outline-none"
               readonly />
    </div>
    <div>
        <label for="event-place-ar" class="block text-gray-700 font-bold mb-2">@Localizer["Event Place in Arabic :"]</label>
        <input type="text"
               asp-for="placeAr"
               id="event-place-ar"
               class="appearance-none block w-full bg-gray-200 border border-gray-200 rounded-lg px-3 py-2 text-gray-600 focus:outline-none"
               readonly />
    </div>

    <!-- Event Date -->
    <div>
        <label for="event-date" class="block text-gray-700 font-bold mb-2">@Localizer["Event Date :"]</label>
        <input type="date"
               asp-for="Time"
               id="event-date"
               class="appearance-none block w-full bg-gray-200 border border-gray-200 rounded-lg px-3 py-2 text-gray-600 focus:outline-none"
               readonly />
    </div>

    <!-- Event Image -->
    <div>
        <label for="event-image" class="block text-gray-700 font-bold mb-2">@Localizer["Event Image :"]</label>
        <input type="text"
               value="@Model.ImageName"
               class="appearance-none block w-full bg-gray-200 border border-gray-200 rounded-lg px-3 py-2 text-gray-600 focus:outline-none"
               readonly />
    </div>

    <!-- Event Info -->
    <div>
        <label for="event-info" class="block text-gray-700 font-bold mb-2">@Localizer["Event Info in English :"]</label>
        <textarea asp-for="Info"
                  id="event-info"
                  class="appearance-none block w-full bg-gray-200 border border-gray-200 rounded-lg px-3 py-2 text-gray-600 focus:outline-none"
                  rows="4"
                  readonly></textarea>
    </div>
    <div>
        <label for="event-info-ar" class="block text-gray-700 font-bold mb-2">@Localizer["Event Info in Arabic :"]</label>
        <textarea asp-for="InfoAr"
                  id="event-info-ar"
                  class="appearance-none block w-full bg-gray-200 border border-gray-200 rounded-lg px-3 py-2 text-gray-600 focus:outline-none"
                  rows="4"
                  readonly></textarea>
    </div>

    <!-- Event Price -->
    <div>
        <label for="event-price" class="block text-gray-700 font-bold mb-2">@Localizer["Event Price :"]</label>
        <input type="number"
               asp-for="Price"
               id="event-price"
               class="appearance-none block w-full bg-gray-200 border border-gray-200 rounded-lg px-3 py-2 placeholder-gray-400 focus:outline-none focus:bg-white focus:border-gray-300"
               readonly />
    </div>

    <!-- Number of Tickets -->
    <div>
        <label for="ticket-count" class="block text-gray-700 font-bold mb-2">@Localizer["Number of Tickets :"]</label>
        <input type="number"
               asp-for="NoOfTickets"
               id="ticket-count"
               class="appearance-none block w-full bg-gray-200 border border-gray-200 rounded-lg px-3 py-2 placeholder-gray-400 focus:outline-none focus:bg-white focus:border-gray-300"
               readonly />
    </div>

    <!-- Submit Button -->
    <div class="text-center mt-6">
        <a asp-action="Index" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-8 rounded">
            @Localizer["Back to List"]
        </a>
    </div>
</div>
